# IntelliJ/PyCharm Files
.idea/
*.ipr
*.iws
*.iml

# Eclipse Files
.classpath
.project

# Build outputs
*.pyc

# Vagrant outputs
.vagrant

# OS hidden files
.DS_Store

# Maven outputs
target/

# Visual Studio Code
.vscode/